* {
  --tabpanel-background-color: transparent !important;
  --tab-selected-shadow: none;

  font-family: monospace;
}

#fullscr-toggler {
  display: none !important;
}

#navigator-toolbox[fullscreenShouldAnimate] {
  transition: none !important;
}
